
</div>
</div>

<!-- demo code -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/lodash/index.js"></script>

<!-- live coding -->
<script src=js/little-console.js></script>
<script src=js/showConsoles.js></script>

<!-- reveal -->
<script src="node_modules/reveal.js/lib/js/head.min.js"></script>
<script src="node_modules/reveal.js/plugin/highlight/highlight.js"></script>
<script src="node_modules/reveal.js/js/reveal.js"></script>
<script src="js/revealConfig.js"></script>

</body>
